@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .fc-button {
    @apply bg-[#005C48] text-white rounded-md px-3 py-1 font-medium;
  }

  .fc-button:hover {
    @apply bg-[#005C48];
  }
}


.fc .fc-button {
  background-color: #005C48; 
  border: none;
  color: white;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
}

.fc .fc-button:hover {
  background-color: #005C48; 
}

.fc .fc-button:disabled {
  background-color: #a1d4bc;
  color: #f0f0f0;
  cursor: not-allowed;
}

html {
  scroll-behavior: smooth;
}
